:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #00000068;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#nav-bar-main {
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-bar-logo {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

#nav-bar-links {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  align-items: center;
}

.row-even {
  background-color: rgba(97, 97, 97, 0.099);
}

.row-odd {
  background-color: rgb(34, 34, 34);
}

a {
  color: white;
  cursor: pointer;
}

a:hover {
  color: darkgrey;
}

a:active {
  color: dimgrey;
}